{% set ajaxPagination = __SELF__.ajaxPagination %}

{% if ajaxPagination is empty %}
    {% partial '@records' %}
{% elseif ajaxPagination == 'prepend' %}
    <div id="{{ __SELF__ }}-pagination-wrapper">
        {% partial '@ajax-pagination' %}
    </div>
    <ul id="{{ __SELF__ }}-records-wrapper" class="record-list">
        {% partial '@ajax-records' %}
    </ul>
{% else %}
    <ul id="{{ __SELF__ }}-records-wrapper">
        {% partial '@ajax-records' %}
    </ul>
    <div id="{{ __SELF__ }}-pagination-wrapper">
        {% partial '@ajax-pagination' %}
    </div>
{% endif %}
