<?php if ($items): ?>
    <ul>
        <?php foreach ($items as $code=>$plugin):
            $dataId = 'plugin-'.$code;
        ?>
            <li class="item" 
                data-id="<?= e($dataId) ?>" 
            >
                <a href="#">
                    <i class="list-icon <?= e($plugin['icon'] )?>"></i>

                    <span class="title"><?= e(trans($plugin['name'])) ?></span>
                    <span class="description"><?= e(trans($plugin['description'])) ?></span>
                    <span class="borders"></span>
                </a>
            </li>
        <?php endforeach ?>
    </ul>
<?php else: ?>
    <p class="no-data"><?= e(trans($this->noRecordsMessage)) ?></p>
<?php endif ?>