<?= Form::open([
    'class' => 'layout',
    'data-change-monitor' => 'true',
    'data-window-close-confirm' => e(trans('backend::lang.form.confirm_tab_close')),
    'data-entity' => 'database',
    'onsubmit' => 'return false',
    'data-lang-add-timestamps' => e(trans('rainlab.builder::lang.database.btn_add_timestamps')),
    'data-lang-add-soft-delete' => e(trans('rainlab.builder::lang.database.btn_add_soft_deleting')),
    'data-lang-timestamps-exist' => e(trans('rainlab.builder::lang.database.timestamps_exist')),
    'data-lang-soft-deleting-exist' => e(trans('rainlab.builder::lang.database.soft_deleting_exist')),
]) ?>
    <?= $form->render() ?>
    <input type="hidden" name="plugin_code" value="<?= e($pluginCode) ?>">
    <input type="hidden" name="table_name" value="<?= e($tableName) ?>">
<?= Form::close() ?>