.builder-building-area {
    background: white;

    ul.builder-control-list {
        padding: 20px;
        list-style: none;
        li {
            padding: 10px 12px;
            margin-bottom: 20px;
            cursor: default;
            .user-select(none);

            &.placeholder, &.loading-control {
                position: relative;
                text-align: center;
                border: 2px solid #f5f5f7;
                .border-radius(4px);
                color: #dae0e0;

                i {
                    margin-right: 8px;
                }
            }

            &.loading-control {
                border-color: #bdc3c7;
                text-align: left;
            }

            &.loading-control:before {
                background-image:url(../../../../../modules/system/assets/ui/images/loader-transparent.svg);
                background-size: 15px 15px;
                background-position: 50% 50%;
                display: inline-block;
                width: 15px;
                height: 15px;
                content: ' ';
                margin-right: 13px;
                position: relative;
                top: 2px;
                .animation(spin 1s linear infinite);
            }

            &.loading-control:after {
                content: attr(data-builder-loading-text);
                display: inline-block;
            }

            &.drag-over {
                color: #2581b8;
                border-color: #2581b8;
            }

            &.span-full {
                width: 100%;
                float: left;
            }

            &.span-left {
                float: left;
                width: 48.5%;
                clear: left;
            }

            &.span-right {
                float: right;
                width: 48.5%;
                clear: right;
            }

        }
    }
}