<div class="layout-row">
    <div class="layout-cell">
        <div class="layout-relative">
            <div class="layout-absolute builder-building-area">
                <div class="control-scrollpad" data-control="scrollpad">
                    <div class="scroll-wrapper">
                        <div data-root-control-wrapper>
                            <?= $this->makePartial('controlcontainer', ['fieldsConfiguration'=>[]]) ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>