<div class="layout-row">
    <div class="layout-cell">
        <div class="layout-relative">
            <div class="layout-absolute builder-building-area">
                <div class="control-scrollpad" data-control="scrollpad">
                    <div class="scroll-wrapper">
                        <div class="">
                            <?= $this->makePartial('container', ['fieldsConfiguration'=>[]]) ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>