<div class="control-toolbar">
    <div class="toolbar-item">
        <div data-control="toolbar" data-no-drag-support="true">
            <ul class="nav builder-control-palette">
                <?php foreach ($registeredControls[$group] as $controlCode=>$controlInfo): ?>
                <li draggable="true" data-builder-control-palette-control="<?= e($controlCode) ?>" data-builder-control-type="<?= e($controlCode) ?>">
                    <i class="<?= isset($controlInfo['icon']) ? e($controlInfo['icon']) : 'icon-square-o' ?>"></i><?= e(trans($controlInfo['name'])) ?>
                </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>