<div 
    class="control-body
        <?= $this->getPropertyValue($properties, 'disabled') ? 'field-disabled' : null ?>
        <?= $this->getPropertyValue($properties, 'hidden') ? 'field-hidden' : null ?>
    "
>
    <?php if ($hasLabels): ?>
        <div class="
            builder-control-label
            <?= $this->getPropertyValue($properties, 'required') ? 'required' : null ?>
        "><?= e(trans($this->getPropertyValue($properties, 'label'))) ?></div>

        <div class="builder-control-comment-above"><?= $this->getPropertyValue($properties, 'oc.commentPosition') == 'above' ? e(trans($this->getPropertyValue($properties, 'oc.comment'))) : null ?></div>
    <?php endif ?>

    <?= $body ?>

    <?php if ($hasLabels): ?>
        <div class="builder-control-comment-below"><?= $this->getPropertyValue($properties, 'oc.commentPosition') == 'below' ? e(trans($this->getPropertyValue($properties, 'oc.comment'))) : null ?></div>
    <?php endif ?>
</div>