<?php if ($hasLabels): ?>
    <div class="builder-control-label"><?= e(trans($this->getPropertyValue($properties, 'label'))) ?></div>

    <div class="builder-control-comment-above"><?= e(trans($this->getPropertyValue($properties, 'commentAbove'))) ?></div>
<?php endif ?>

<?= $body ?>

<?php if ($hasLabels): ?>
    <div class="builder-control-comment-below"><?= strlen($this->getPropertyValue($properties, 'commentAbove')) ? null : e(trans($this->getPropertyValue($properties, 'comment'))) ?></div>
<?php endif ?>