<div data-control-list-container class="builder-tabs <?= e($type) ?>">
    <div class="tabs">
        <ul>

<li class="empty">
    <div class="tab-container">
        <div>
            <span><?= e(trans('rainlab.builder::lang.form.empty_tab')) ?></span>
        </div>
    </div>

    <div class="tab-inspector-trigger control">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="close-btn control">&times;</div>
</li>
            <?php if (!$controls): ?>
                <?= $this->makePartial('emptytab') ?>
            <?php endif ?>


<li class="empty">
    <div class="tab-container">
        <div>
            <span><?= e(trans('rainlab.builder::lang.form.empty_tab')) ?></span>
        </div>
    </div>

    <div class="tab-inspector-trigger control">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="close-btn control">&times;</div>
</li>

<li class="empty">
    <div class="tab-container">
        <div>
            <span><?= e(trans('rainlab.builder::lang.form.empty_tab')) ?></span>
        </div>
    </div>

    <div class="tab-inspector-trigger control">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="close-btn control">&times;</div>
</li>


            <div class="controls">
                <div>
                    <i class="oc-icon-ellipsis-v"></i>
                </div>
            </div>
        </ul>
    </div>

    <script type="text/template" data-tab-template>
        <?= $this->makePartial('emptytab') ?>
    </script>
</div>