div.builder-control-palette-container {
  padding-bottom: 0;
}
div.builder-control-palette-container .control-toolbar {
  padding-bottom: 0;
}
ul.builder-control-palette {
  font-size: 0;
  white-space: nowrap;
}
ul.builder-control-palette li {
  margin: 8px 0 8px 8px;
  color: #555555;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
  display: inline-block;
  font-size: 12px;
}
ul.builder-control-palette li:last-child {
  margin-right: 10px;
}
ul.builder-control-palette li:hover {
  background: #ecf0f1;
}
ul.builder-control-palette li i {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  color: #888888;
  top: 2px;
}
.builder-building-area {
  background: white;
}
.builder-building-area ul.builder-control-list {
  padding: 20px;
  margin-bottom: 0;
  list-style: none;
}
.builder-building-area ul.builder-control-list:before,
.builder-building-area ul.builder-control-list:after {
  content: " ";
  display: table;
}
.builder-building-area ul.builder-control-list:after {
  clear: both;
}
.builder-building-area ul.builder-control-list > li.control {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.builder-building-area ul.builder-control-list > li.control[data-unknown] {
  cursor: default;
}
.builder-building-area ul.builder-control-list > li.control.placeholder,
.builder-building-area ul.builder-control-list > li.control.loading-control {
  padding: 10px 12px;
  position: relative;
  text-align: center;
  border: 2px dotted #dde0e2;
  margin-top: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #dae0e0;
}
.builder-building-area ul.builder-control-list > li.control.placeholder i,
.builder-building-area ul.builder-control-list > li.control.loading-control i {
  margin-right: 8px;
}
.builder-building-area ul.builder-control-list > li.control.clear-row {
  display: none;
  margin-bottom: 0;
}
.builder-building-area ul.builder-control-list > li.control.loading-control {
  border-color: #bdc3c7;
  text-align: left;
}
.builder-building-area ul.builder-control-list > li.control.updating-control:after,
.builder-building-area ul.builder-control-list > li.control.loading-control:before {
  background-image: url(../../../../../modules/system/assets/ui/images/loader-transparent.svg);
  background-size: 15px 15px;
  background-position: 50% 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: ' ';
  margin-right: 13px;
  position: relative;
  top: 2px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.builder-building-area ul.builder-control-list > li.control.loading-control:after {
  content: attr(data-builder-loading-text);
  display: inline-block;
}
.builder-building-area ul.builder-control-list > li.control.updating-control:after {
  position: absolute;
  right: -8px;
  top: 5px;
}
.builder-building-area ul.builder-control-list > li.control.updating-control:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: rgba(127, 127, 127, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.builder-building-area ul.builder-control-list > li.control.drag-over {
  color: #2581b8;
  border-color: #2581b8;
}
.builder-building-area ul.builder-control-list > li.control.span-full {
  width: 100%;
  float: left;
}
.builder-building-area ul.builder-control-list > li.control.span-left {
  float: left;
  width: 48.5%;
  clear: left;
}
.builder-building-area ul.builder-control-list > li.control.span-right {
  float: right;
  width: 48.5%;
  clear: right;
}
.builder-building-area ul.builder-control-list > li.control.span-right + li.clear-row {
  display: block;
  clear: both;
}
.builder-building-area ul.builder-control-list > li.control > div.remove-control {
  display: none;
}
.builder-building-area ul.builder-control-list > li.control:not(.placeholder):not(.loading-control):not(.updating-control):hover > div.remove-control {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 21px;
  height: 21px;
  padding-left: 6px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ecf0f1;
  color: #95a5a6!important;
}
.builder-building-area ul.builder-control-list > li.control:not(.placeholder):not(.loading-control):not(.updating-control):hover > div.remove-control:hover {
  color: white!important;
  background: #c03f31;
}
.builder-building-area ul.builder-control-list > li.control:not(.placeholder):not(.loading-control):not(.updating-control):hover[data-control-type=hint] > div.remove-control,
.builder-building-area ul.builder-control-list > li.control:not(.placeholder):not(.loading-control):not(.updating-control):hover[data-control-type=partial] > div.remove-control {
  top: 12px;
  right: 12px;
}
.builder-building-area ul.builder-control-list > li.control[data-control-type=hint].updating-control:before,
.builder-building-area ul.builder-control-list > li.control[data-control-type=partial].updating-control:before {
  right: 12px;
  top: 7;
}
.builder-building-area ul.builder-control-list > li.control[data-control-type=hint].updating-control:after,
.builder-building-area ul.builder-control-list > li.control[data-control-type=partial].updating-control:after {
  right: 4px;
  top: 13px;
}
.builder-building-area ul.builder-control-list > li.control > .control-wrapper,
.builder-building-area ul.builder-control-list > li.control > .control-static-contents {
  position: relative;
  -webkit-transition: margin 0.1s;
  transition: margin 0.1s;
}
.builder-building-area ul.builder-control-list > li.placeholder:hover {
  background-color: #2581b8 !important;
  color: white!important;
  border-style: solid;
  border-color: #2581b8;
}
.builder-building-area ul.builder-control-list > li.control:not(.placeholder):not(.loading-control):not([data-unknown]):hover > .control-wrapper *,
.builder-building-area ul.builder-control-list > li.control.inspector-open:not(.placeholder):not(.loading-control) > .control-wrapper * {
  color: #2581b8 !important;
}
.builder-building-area ul.builder-control-list > li.control.drag-over:not(.placeholder):before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #2581b8;
}
.builder-building-area ul.builder-control-list > li.control.drag-over:not(.placeholder) > .control-wrapper,
.builder-building-area ul.builder-control-list > li.control.drag-over:not(.placeholder) > .control-static-contents {
  margin-left: 20px;
  margin-right: -20px;
}
.builder-building-area .control-body.field-disabled,
.builder-building-area .control-body.field-hidden {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.builder-building-area .builder-control-label {
  margin-bottom: 10px;
  color: #555555;
  font-size: 14px;
  font-weight: 600;
}
.builder-building-area .builder-control-label.required:after {
  vertical-align: super;
  font-size: 60%;
  content: " *";
}
.builder-building-area .builder-control-label:empty {
  margin-bottom: 0;
}
.builder-building-area .builder-control-comment-above {
  margin-bottom: 8px;
  margin-top: -3px;
}
.builder-building-area .builder-control-comment-below {
  margin-top: 6px;
}
.builder-building-area .builder-control-comment-above,
.builder-building-area .builder-control-comment-below {
  color: #737373;
  font-size: 12px;
}
.builder-building-area .builder-control-comment-above:empty,
.builder-building-area .builder-control-comment-below:empty {
  display: none;
}
html.gecko.mac .builder-building-area div[data-root-control-wrapper] {
  margin-right: 17px;
}
.builder-building-area .builder-blueprint-control-text,
.builder-building-area .builder-blueprint-control-textarea,
.builder-building-area .builder-blueprint-control-partial,
.builder-building-area .builder-blueprint-control-unknown,
.builder-building-area .builder-blueprint-control-dropdown {
  padding: 10px 12px;
  border: 2px solid #bdc3c7;
  color: #95a5a6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.builder-building-area .builder-blueprint-control-text i,
.builder-building-area .builder-blueprint-control-textarea i,
.builder-building-area .builder-blueprint-control-partial i,
.builder-building-area .builder-blueprint-control-unknown i,
.builder-building-area .builder-blueprint-control-dropdown i {
  margin-right: 5px;
}
.builder-building-area li.control:hover > .control-wrapper .builder-blueprint-control-text,
.builder-building-area li.inspector-open > .control-wrapper .builder-blueprint-control-text,
.builder-building-area li.control:hover > .control-wrapper .builder-blueprint-control-textarea,
.builder-building-area li.inspector-open > .control-wrapper .builder-blueprint-control-textarea,
.builder-building-area li.control:hover > .control-wrapper .builder-blueprint-control-dropdown,
.builder-building-area li.inspector-open > .control-wrapper .builder-blueprint-control-dropdown {
  border-color: #2581b8;
}
.builder-building-area li.control:hover > .control-wrapper .builder-blueprint-control-dropdown:before,
.builder-building-area li.inspector-open > .control-wrapper .builder-blueprint-control-dropdown:before {
  background-color: #2581b8;
}
.builder-building-area .builder-blueprint-control-textarea.size-tiny {
  min-height: 50px;
}
.builder-building-area .builder-blueprint-control-textarea.size-small {
  min-height: 100px;
}
.builder-building-area .builder-blueprint-control-textarea.size-large {
  min-height: 200px;
}
.builder-building-area .builder-blueprint-control-textarea.size-huge {
  min-height: 250px;
}
.builder-building-area .builder-blueprint-control-textarea.size-giant {
  min-height: 350px;
}
.builder-building-area .builder-blueprint-control-section {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 4px;
}
.builder-building-area .builder-blueprint-control-section .builder-control-label {
  font-size: 16px;
  margin-bottom: 6px;
}
.builder-building-area .builder-blueprint-control-unknown {
  border-color: #eee;
  background: #eee;
}
.builder-building-area .builder-blueprint-control-partial {
  border-color: #eee;
  background: #eee;
}
.builder-building-area .builder-blueprint-control-dropdown {
  position: relative;
}
.builder-building-area .builder-blueprint-control-dropdown:before,
.builder-building-area .builder-blueprint-control-dropdown:after {
  position: absolute;
  content: '';
}
.builder-building-area .builder-blueprint-control-dropdown:before {
  top: 0;
  width: 2px;
  background: #bdc3c7;
  right: 40px;
  height: 100%;
}
.builder-building-area .builder-blueprint-control-dropdown:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f107";
  color: inherit;
  right: 15px;
  top: 12px;
  font-size: 20px;
  line-height: 20px;
}
.builder-building-area .builder-blueprint-control-checkbox:before {
  float: left;
  content: ' ';
  border: 2px solid #bdc3c7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 17px;
  height: 17px;
  position: relative;
  top: 2px;
}
.builder-building-area .builder-blueprint-control-checkbox .builder-control-label {
  margin-left: 25px;
  font-weight: normal;
}
.builder-building-area .builder-blueprint-control-checkbox .builder-control-comment-below {
  margin-left: 25px;
}
.builder-building-area li.control:hover > .control-wrapper .builder-blueprint-control-checkbox:before,
.builder-building-area li.inspector-open > .control-wrapper .builder-blueprint-control-checkbox:before {
  border-color: #2581b8;
}
.builder-building-area .builder-blueprint-control-switch {
  position: relative;
}
.builder-building-area .builder-blueprint-control-switch:before,
.builder-building-area .builder-blueprint-control-switch:after {
  position: absolute;
  content: ' ';
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.builder-building-area .builder-blueprint-control-switch:before {
  background-color: #bdc3c7;
  width: 34px;
  height: 18px;
  top: 2px;
  left: 2px;
}
.builder-building-area .builder-blueprint-control-switch:after {
  background-color: white;
  width: 14px;
  height: 14px;
  top: 4px;
  left: 4px;
  margin-left: 16px;
}
.builder-building-area .builder-blueprint-control-switch .builder-control-label {
  margin-left: 45px;
  font-weight: normal;
}
.builder-building-area .builder-blueprint-control-switch .builder-control-comment-below {
  margin-left: 45px;
}
.builder-building-area li.control:hover > .control-wrapper .builder-blueprint-control-switch:before,
.builder-building-area li.inspector-open > .control-wrapper .builder-blueprint-control-switch:before {
  background-color: #2581b8;
}
.builder-building-area .builder-blueprint-control-repeater-body > .repeater-button {
  padding: 8px 13px;
  background: #bdc3c7;
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.builder-building-area ul.builder-control-list > li.control:hover > .control-wrapper > .control-body .builder-blueprint-control-repeater-body > .repeater-button,
.builder-building-area ul.builder-control-list > li.inspector-open > .control-wrapper > .control-body .builder-blueprint-control-repeater-body > .repeater-button {
  background: #2581b8;
  color: white!important;
}
.builder-building-area .builder-blueprint-control-repeater {
  position: relative;
}
.builder-building-area .builder-blueprint-control-repeater:before {
  content: '';
  position: absolute;
  width: 2px;
  top: 0;
  left: 2px;
  height: 100%;
  background: #bdc3c7;
}
.builder-building-area .builder-blueprint-control-repeater:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 14px;
  left: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #bdc3c7;
}
.builder-building-area .builder-blueprint-control-repeater > ul.builder-control-list {
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 10px;
}
.builder-building-area li.control:hover > .builder-blueprint-control-repeater:before,
.builder-building-area li.inspector-open > .builder-blueprint-control-repeater:before,
.builder-building-area li.control:hover > .builder-blueprint-control-repeater:after,
.builder-building-area li.inspector-open > .builder-blueprint-control-repeater:after {
  background-color: #2581b8;
}
.builder-building-area .builder-blueprint-control-radiolist ul,
.builder-building-area .builder-blueprint-control-checkboxlist ul {
  list-style: none;
  padding: 0;
  color: #95a5a6;
}
.builder-building-area .builder-blueprint-control-radiolist ul li,
.builder-building-area .builder-blueprint-control-checkboxlist ul li {
  margin-bottom: 3px;
}
.builder-building-area .builder-blueprint-control-radiolist ul li:last-child,
.builder-building-area .builder-blueprint-control-checkboxlist ul li:last-child {
  margin-bottom: 0;
}
.builder-building-area .builder-blueprint-control-radiolist ul li i,
.builder-building-area .builder-blueprint-control-checkboxlist ul li i {
  margin-right: 5px;
}
.builder-building-area .builder-blueprint-control-text.fileupload.image {
  width: 100px;
  height: 100px;
  text-align: center;
}
.builder-building-area .builder-blueprint-control-text.fileupload.image i {
  line-height: 77px;
  margin-right: 0;
}
.builder-tabs > .tabs {
  position: relative;
}
.builder-tabs > .tabs .tab-control {
  position: absolute;
  display: block;
}
.builder-tabs > .tabs .tab-control.inspector-trigger {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.builder-tabs > .tabs .tab-control.inspector-trigger span {
  display: block;
  width: 3px;
  height: 3px;
  margin-bottom: 2px;
  background: #95a5a6;
}
.builder-tabs > .tabs .tab-control.inspector-trigger span:last-child {
  margin-bottom: 0;
}
.builder-tabs > .tabs .tab-control.inspector-trigger:hover span,
.builder-tabs > .tabs .tab-control.inspector-trigger.inspector-open span {
  background: #0181b9;
}
.builder-tabs > .tabs .tab-control.inspector-trigger.global {
  top: 5px;
  right: 15px;
}
.builder-tabs > .tabs > ul.tabs {
  margin: 0;
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.builder-tabs > .tabs > ul.tabs > li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  font-size: 13px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
.builder-tabs > .tabs > ul.tabs > li > div.tab-container {
  position: relative;
  color: #bdc3c7!important;
}
.builder-tabs > .tabs > ul.tabs > li > div.tab-container > div {
  -webkit-transition: padding 0.1s;
  transition: padding 0.1s;
  position: relative;
}
.builder-tabs > .tabs > ul.tabs > li:hover > div {
  color: #95a5a6!important;
}
.builder-tabs > .tabs > ul.tabs > li .tab-control {
  display: none;
}
.builder-tabs > .tabs > ul.tabs > li .tab-control.close-btn {
  font-size: 15px;
  top: 9px;
  right: 18px;
  line-height: 15px;
  height: 15px;
  width: 15px;
  text-align: center;
  cursor: pointer;
  color: #95a5a6;
}
.builder-tabs > .tabs > ul.tabs > li .tab-control.close-btn:hover {
  color: #0181b9 !important;
}
.builder-tabs > .tabs > ul.tabs > li .tab-control.inspector-trigger {
  right: 34px;
  top: 10px;
}
.builder-tabs > .tabs > ul.tabs > li.active > div.tab-container {
  color: #95a5a6!important;
}
.builder-tabs > .tabs > ul.tabs > li.active .tab-control {
  display: block;
}
.builder-tabs > .tabs > ul.panels {
  padding: 0;
  list-style: none;
}
.builder-tabs > .tabs > ul.panels > li {
  display: none;
}
.builder-tabs > .tabs > ul.panels > li.active {
  display: block;
}
.builder-tabs.primary > .tabs > ul.tabs {
  padding: 0 20px 0 40px;
  height: 31px;
}
.builder-tabs.primary > .tabs > ul.tabs:after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #bdc3c7;
  z-index: 106;
}
.builder-tabs.primary > .tabs > ul.tabs > li {
  bottom: -2px;
  margin-left: -20px;
  z-index: 105;
}
.builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container {
  padding: 0 21px 0 21px;
  height: 27px;
}
.builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container > div {
  padding: 4px 5px 0 5px;
  border-top: 2px solid #e5e5e5;
}
.builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container > div > span {
  position: relative;
  top: -2px;
  -webkit-transition: top 0.1s;
  transition: top 0.1s;
}
.builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container:before,
.builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 27px;
  width: 21px;
  background: transparent url(../images/tab.png) no-repeat;
}
.builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container:before {
  left: 0;
  background-position: 0 -27px;
}
.builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container:after {
  right: 0;
  background-position: -75px -27px;
}
.builder-tabs.primary > .tabs > ul.tabs > li.active {
  z-index: 107;
}
.builder-tabs.primary > .tabs > ul.tabs > li.active > div.tab-container:before {
  background-position: 0 0;
}
.builder-tabs.primary > .tabs > ul.tabs > li.active > div.tab-container:after {
  background-position: -75px 0;
}
.builder-tabs.primary > .tabs > ul.tabs > li.active > div.tab-container > div {
  padding-right: 30px;
  border-top: 2px solid #bdc3c7;
}
.builder-tabs.primary > .tabs > ul.tabs > li.active > div.tab-container > div > span {
  top: 0;
}
.builder-tabs.primary > .tabs > ul.tabs > li.active:before {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
}
.builder-tabs.primary > .tabs > ul.tabs > li.new-tab {
  background: transparent url(../images/tab.png) no-repeat;
  background-position: -24px 0;
  width: 27px;
  height: 22px;
  margin-left: -11px;
  top: 4px;
  position: relative;
  cursor: pointer;
}
.builder-tabs.primary > .tabs > ul.tabs > li.new-tab:hover {
  background-position: -24px -32px;
}
.builder-tabs.secondary > .tabs ul.tabs {
  margin-left: 12px;
  padding-left: 0;
}
.builder-tabs.secondary > .tabs ul.tabs > li {
  border-right: 1px solid #bdc3c7;
  padding-right: 1px;
}
.builder-tabs.secondary > .tabs ul.tabs > li > div.tab-container > div {
  padding: 4px 10px;
}
.builder-tabs.secondary > .tabs ul.tabs > li .tab-control {
  right: 23px;
  top: 7px;
}
.builder-tabs.secondary > .tabs ul.tabs > li .tab-control.close-btn {
  right: 6px;
  top: 6px;
}
.builder-tabs.secondary > .tabs ul.tabs > li.new-tab {
  background: transparent;
  border: 2px solid #e4e4e4;
  width: 27px;
  height: 22px;
  left: 9px;
  top: 7px;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.builder-tabs.secondary > .tabs ul.tabs > li.new-tab:hover {
  background-color: #2581b8;
  border-color: #2581b8;
}
.builder-tabs.secondary > .tabs ul.tabs > li.active {
  padding-right: 10px;
}
.builder-tabs.secondary > .tabs ul.tabs > li.active > div.tab-container > div {
  color: #555555;
  padding-right: 30px;
}
html.gecko .builder-tabs.primary > .tabs > ul.tabs > li {
  bottom: -3px;
}
html.gecko .builder-tabs.primary > .tabs > ul.tabs > li > div.tab-container > div {
  padding-top: 5px;
}
.control-filelist ul li.group.model > h4 a:after {
  content: "\f074";
  top: 10px;
}
.control-filelist ul li.group.form > h4 a:after {
  content: "\f14a";
}
.control-filelist ul li.group.list > h4 a:after {
  content: "\f00b";
  top: 10px;
}
.control-filelist ul li.group > ul > li.group > ul > li > a {
  padding-left: 73px;
  margin-left: -20px;
}
html.gecko .control-filelist ul li.group {
  margin-right: 10px;
}
.builder-inspector-container {
  width: 350px;
  border-left: 1px solid #d9d9d9;
}
.builder-inspector-container:empty {
  display: none!important;
}
.control-tabs.auxiliary-tabs {
  background: white;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs {
  padding-left: 20px;
  padding-bottom: 2px;
  background: white;
  position: relative;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs:before,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #95a5a6;
  top: 0;
  left: 0;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs > li,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs > li {
  margin-right: 2px;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs > li > a,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs > li > a {
  background: white;
  color: #bdc3c7;
  border-left: 1px solid #ecf0f1!important;
  border-right: 1px solid #ecf0f1!important;
  border-bottom: 1px solid #ecf0f1!important;
  padding: 4px 10px;
  line-height: 100%;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs > li > a > span.title > span,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs > li > a > span.title > span {
  margin-bottom: 0;
  font-size: 13px;
  height: auto;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs > li.active,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs > li.active {
  top: 0;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs > li.active:before,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs > li.active:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ffffff;
  top: 0;
  left: 0;
  top: -1px;
}
.control-tabs.auxiliary-tabs > ul.nav-tabs > li.active a,
.control-tabs.auxiliary-tabs > div > ul.nav-tabs > li.active a {
  padding-top: 5px;
  border-left: 1px solid #95a5a6!important;
  border-right: 1px solid #95a5a6!important;
  border-bottom: 1px solid #95a5a6!important;
  color: #95a5a6;
}
.control-tabs.auxiliary-tabs > div.tab-content > .tab-pane {
  background: white;
}
