<div class="reorder-behavior">
    <div class="list">
        <table>
            <tbody>
                <tr>
                    <td><i class="icon-bars"></i> <div class="placeholder" style="width: 80%"></div></td>
                </tr>

                <tr>
                    <td><i class="icon-bars"></i><div class="placeholder" style="width: 20%"></div></td>
                </tr>

                <tr>
                    <td><i class="icon-bars"></i><div class="placeholder" style="width: 40%"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>