<div class="list-behavior">
    <div class="list">
        <table>
            <thead>
                <tr>
                    <td style="width: 15%"><div class="placeholder"></div></td>
                    <td style="width: 30%"><div class="placeholder"></div></td>
                    <td style="width: 20%"><div class="placeholder"></div></td>
                    <td style="width: 20%"><div class="placeholder"></div></td>
                    <td style="width: 10%"><div class="placeholder"></div></td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><div class="placeholder" style="width: 80%"></div></td>
                    <td><div class="placeholder" style="width: 60%"></div></td>
                    <td><div class="placeholder" style="width: 90%"></div></td>
                    <td><div class="placeholder" style="width: 40%"></div></td>
                    <td><div class="placeholder" style="width: 50%"></div></td>
                </tr>

                <tr>
                    <td><div class="placeholder" style="width: 60%"></div></td>
                    <td><div class="placeholder" style="width: 80%"></div></td>
                    <td><div class="placeholder" style="width: 40%"></div></td>
                    <td><div class="placeholder" style="width: 90%"></div></td>
                    <td><div class="placeholder" style="width: 70%"></div></td>
                </tr>

                <tr>
                    <td><div class="placeholder" style="width: 90%"></div></td>
                    <td><div class="placeholder" style="width: 40%"></div></td>
                    <td><div class="placeholder" style="width: 90%"></div></td>
                    <td><div class="placeholder" style="width: 70%"></div></td>
                    <td><div class="placeholder" style="width: 80%"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>